/**********************************/
/***** ------- Laptop ------ *****/
/*** ----- Global ----- ***/
:root {
  --blue: #0065fc;
  --light-blue: #deebff;
  --grey: #f2f2f2;
  --dark-grey: #d9d9d9;
  --radius: 25px;
  --main-side-padding: 4vw;
}

* {
  box-sizing: border-box;
  transition: 0.2s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  color: black;
}

.mobile {
  display: none;
}

h1,
h2,
h3 {
  margin: 10px 0;
}

p {
  margin: 7px 0;
}

h2 {
  font-size: 20px;
}

button {
  cursor: pointer;
  line-height: 0;
}

/** --- Header --- **/
header {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header > nav {
  display: flex;
}

nav > a {
  color: black;
  text-decoration: none;
}

header > nav > a {
  width: 175px;
  border-top: 2px solid transparent;
  padding: 45px 0 20px 0;
  text-align: center;
}

nav > a:hover {
  color: var(--blue);
}

header > nav > a:hover {
  border-color: var(--blue);
}

/*** ----- Main ----- ***/
main {
  padding: 40px var(--main-side-padding);
}

/** --- Search-Section --- **/
section#search {
  display: flex;
  flex-direction: column;
}

section#search > p {
  margin: 0;
}

.search-form {
  margin: 25px 0;
  display: flex;
  font-size: 20px;
}

.location-icon {
  cursor: pointer;
  border-radius: 18px 0 0 18px;
  background-color: var(--grey);
  padding: 20px;
}

.location-icon:hover > i {
  color: var(--blue);
  transform: rotate(-15deg) scale(1.2);
}

.search-field {
  border: 2px solid var(--grey);
  border-width: 2px 0 2px 0;
  padding: 10px 35px 10px 20px;
  display: flex;
}

.search-field > input {
  width: 100%;
  border: none;
  font-weight: bold;
}

.search-field > input:focus-visible {
  outline: none;
}

.search-button {
  position: relative;
  right: 15px;
  border: none;
  border-radius: 0 18px 18px 0;
  background-color: var(--blue);
  padding: 20px;
  color: white;
  font-weight: bold;
}

.search-button:hover {
  opacity: 0.8;
}

/** --- Filter-Section --- **/
.filter-container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.filter-container > h2 {
  margin: 0;
}

.category {
  cursor: pointer;
  max-height: 60px;
  border: 3px solid var(--dark-grey);
  border-radius: 50px;
  background-color: white;
  padding-right: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 20px;
}

@keyframes balance {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

.category:hover {
  border-color: transparent;
  background-color: var(--blue);
  color: white;
}

.category:hover > .category-icon {
  transform: rotate(-30deg);
  animation: 1s ease-in-out 0.5s infinite alternate balance;
}

.category-icon {
  transition: 0.5s ease;
  position: relative;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  font-size: 24px;
}

.info-location {
  margin: 30px 0;
  display: flex;
  align-items: center;
}

.info-location > i {
  flex-shrink: 0;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border: 2px solid var(--dark-grey);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
}

/** --- Accommodations-Section --- **/
section#accommodations {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.accommodations,
.popular {
  flex-grow: 1;
  border-radius: var(--radius);
  background-color: var(--grey);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.accommodations {
  flex-basis: calc(90% * (2 / 3));
}

.popular {
  flex-basis: calc(90% * (1 / 3));
}

.popular > h1 {
  display: flex;
  justify-content: space-between;
}

.show-more {
  margin-top: auto;
}

.show-more > h2 {
  cursor: pointer;
  display: inline;
}

.show-more > h2:hover {
  color: var(--blue);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  overflow: hidden;
  box-shadow: 0 5px 5px var(--dark-grey);
  border-radius: var(--radius);
  background-color: white;
}

.card:hover {
  box-shadow: 0 10px 20px var(--dark-grey);
}

section#accommodations .card {
  border: 5px solid white;
  flex-grow: 1;
}

.accommodations .card {
  width: 270px;
  height: 220px;
}

.popular .card {
  width: 400px;
  height: 160px;
}

.card-flex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.popular .card-flex {
  flex-direction: row;
}

.card a {
  color: black;
  text-decoration: none;
}

.card-image {
  overflow: hidden;
  flex-basis: 20%;
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular .card-image {
  width: 40%;
}

.card-image > img {
  transition: 1s ease;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card:hover .card-image > img {
  transition: 3s ease;
  transform: scale(1.1);
}

.accommodations .card-body {
  margin: 12px;
}

.popular .card-body {
  flex-basis: 50%;
  margin: 3% 7%;
  display: flex;
  flex-direction: column;
}

section#accommodations .card-body > h3 {
  margin: 0;
}

.card-notation {
  display: flex;
  font-size: 12px;
  color: var(--blue);
}

.popular .card-notation {
  margin-top: auto;
}

.empty {
  color: var(--dark-grey);
}

/** --- Activities-Section --- **/
section#activities {
  padding-top: 70px;
}

.activities-container {
  margin: 30px 0;
  height: 500px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 30px;
}

.activities-container .card {
  width: calc((100% - (2 * var(--main-side-padding))) / 4);
  max-height: 500px;
}

.big-card {
  flex-basis: 100%;
}

.medium-card {
  flex-basis: 55%;
}

.small-card {
  flex-basis: 30%;
  flex-grow: 1;
}

.activities-container .card-body {
  padding: 10px 20px;
}

/** --- Footer --- **/
footer {
  background-color: var(--grey);
  padding: 50px var(--main-side-padding);
  display: flex;
  flex-wrap: wrap;
  gap: 20%;
}

footer nav {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/***********************************************************************************************************************************************/
/***** ------- Tablet ------- *****/
@media screen and (max-width: 991px) {
  /** --- Filter-Section --- **/
  .filter-container {
    gap: 15px;
  }

  .filter-container > h2 {
    flex-basis: 100%;
  }

  /** --- Activities-Section --- **/
  .activities-container {
    height: auto;
    flex-direction: row;
  }

  .activities-container .card-image {
    flex-basis: 150px;
  }
}

/**************************************************************************************************************************************************/
/***** ------- Mobile ------- *****/
@media screen and (max-width: 767px) {
  /*** ----- Global ----- ***/
  .laptop {
    display: none;
  }

  .mobile {
    display: block;
  }

  /** --- Header --- **/
  header {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin: 20px 0;
  }

  header > nav > a {
    width: 50vw;
    padding: 20px 0;
    border-top: 0;
    border-bottom: 3px solid var(--grey);
  }

  header > nav > a:hover {
    border-top: 0;
    border-color: var(--blue);
  }

  /*** ----- Main ----- ***/
  :root {
    --main-side-padding: 5vw;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  /** --- Search-Section --- **/
  .search-form {
    position: relative;
    left: 7.5px;
    font-size: 17px;
  }

  .location-icon {
    border-radius: 15px 0 0 15px;
  }

  .location-icon,
  .search-button {
    padding: 15px;
  }

  .search-button {
    border-radius: 15px;
  }

  /** --- Filter-Section --- **/
  .category {
    max-height: 50px;
    font-size: 17px;
  }

  .category-icon {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  /** --- Accommodations-Section --- **/
  section#accommodations {
    margin: 0 calc(-1 * var(--main-side-padding));
    flex-direction: column;
    gap: 0;
  }

  .popular,
  .accommodations {
    border-radius: 0;
    padding: 30px 25px;
    gap: 20px;
  }

  .popular {
    order: 1;
  }

  .accommodations {
    order: 2;
    background-color: white;
  }

  .show-more {
    margin-top: 20px;
  }

  .card-container {
    gap: 15px;
  }

  .card {
    flex-basis: 100%;
    width: auto !important;
  }

  .card-body > p {
    font-size: 14px;
  }

  /** --- Activities-Section --- **/
  section#activities {
    padding-top: 30px;
  }

  /** --- Footer --- **/
  footer {
    flex-direction: column;
    gap: 30px;
  }
}
